body,
ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-color: #111;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.45;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title {
  /* display: inline-block; */
  position: relative;
  width: max-content;
  margin: 30px 0;
  /* border-bottom: 5px solid; */
  font-size: 40px;
  letter-spacing: 0.4em;
  transition: all 0.4s;
}

.title:hover {
  color: white;
}

.title:hover::before {
  margin-right: 0.4em;
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 4em;
  bottom: -0.2em;
  height: 0.2em;
  background-color: currentColor;
  transition: margin 0.4s;
}

.food {
  display: flex;
}

.food-item {
  position: relative;
  width: 33.3333%;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}

.food-item.cookie {
  color: orange;
}
.food-item.cake {
  color: pink;
}
.food-item.crepe {
  color: yellow;
}

.food-item .item-cover {
  flex-shrink: 0;
}

.food:hover .food-item {
  width: 25%;
}

.food .food-item:hover {
  width: 50%;
  opacity: 1;
}

.food-item-contents {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}

.food-item-contents h2 {
  margin-bottom: 10px;
}

.food-item-contents p {
  width: 400px;
  color: #777;
}
